<!DOCTYPE html>
<html>
  <%- include('./partials/head', { page: 'pets', pageName: 'Pets' }) %>
  <body>
    <%- include('./partials/header') %>

    <h1>Conheça nossos Pets!</h1>

    <main>
      <div class="container-pets">

          <% for(let animal of animals) { %>
             
            <div class="descricao-pets">
              <img src="/img-pets/<%= animal.image %>" alt="img">
              <h4> <%= animal.name %> </h4>
              <p> <%= animal.breed %> </p>
              <a href="/detail/<%= animal.id %>">Me Adota?</a>
            </div> 

         <% } %>     
        
      </div>



    </main>
    
    <footer>
      <p>Todos os direitos reservados &copy; 2022 - Maria Eduarda Silva</p>
    </footer>

  </body>
</html>
